<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title%>
    </title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aliquid voluptatibus eius, debitis unde a? Ab saepe vitae voluptatum voluptatem rerum. Nihil sequi fugit unde hic quas expedita quod accusamus. In, a fugit quis mollitia libero quidem molestiae architecto maxime cumque id eaque blanditiis impedit aliquid consectetur voluptatibus perferendis magnam repudiandae repellat! Repellat ratione corrupti eius dicta iure magni vitae, autem nam enim tempora quis fugit possimus accusantium vel! Molestiae maxime nihil similique perspiciatis distinctio architecto modi, quibusdam delectus impedit nesciunt ad, magnam iste vel deleniti! Repellat, quas ex fuga ducimus beatae aspernatur sequi inventore sit est architecto nisi dolorum voluptas maxime. Harum dicta ex numquam pariatur corporis voluptatem dolor, veniam ipsa sed praesentium distinctio possimus similique, incidunt repellat odio delectus blanditiis iure quisquam magni omnis nihil quam! Optio numquam quo velit, consectetur dolore nisi placeat, quia alias accusamus dignissimos dolores similique, qui esse et itaque laborum quis possimus corporis cum incidunt delectus? Nulla delectus perferendis totam architecto, illo cupiditate asperiores voluptatibus dicta impedit ex dignissimos rerum, aliquid id blanditiis quaerat! Vero corporis ipsa labore totam, quo ullam reprehenderit non unde dignissimos, repudiandae qui ad id voluptatum voluptatibus error accusamus cumque ratione provident soluta. Rerum autem eveniet placeat illo unde.</p>
        </section>
    </main>
</body>
</html>