<footer>
    <h3>Lorem, ipsum dolor</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam laboriosam ipsum alias assumenda! Temporibus esse labore laboriosam consectetur voluptate quam, itaque possimus expedita ab tempora. Architecto, expedita id! Totam, ratione.</p>
</footer>